{% extends "admincust/adminbase.html" %}

{% block content %}
{% load crispy_forms_tags %}


<div class="content-header sty-one">
    <h1 class="text-dark">CATEGORY TABLE</h1>

<div class="pull-right search-box">
    <form action="" method="get" class="search-form">
        <div class="input-group">
            <input name="key" class="form-control" placeholder="Search..." type="text">
            <span class="input-group-btn">
          <button type="submit"  id="search-btn" class="btn btn-flat"><i
                  class="fa fa-search"></i> </button>
          </span></div>
    </form>
    <!-- search form --> </div>
</div>

<br>
<br>

<div class="container">

    <section>
        <div class="row active_user_table">
            <div class="table-responsive">
                <a class="btn btn-primary my-2" href="{% url 'addcategory' %}"> Add category </a>
                <table class="data-table table hover multiple-select-row nowrap" id="myTable">
                    <thead>
                    <tr>
                        <th scope="col">no</th>
                        <th scope="col">category_name</th>
                        {% comment %} <th scope="col">slug</th> {% endcomment %}
                        <th scope="col">cat_image</th>
                        <th scope="col">action</th>
                        {% comment %} <th scope="col">Price</th> {% endcomment %}
                        {% comment %} <th scope="col">stock</th> {% endcomment %}



                           
                    </tr>
                </thead>
                <tbody>
                {% for category in Categories%}
                <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td>{{category.category_name}}</td>
                    {% comment %} <td>{{category.slug}}</td> {% endcomment %}
                    <td>{{category.cat_image}}</td>
                    {% comment %} <td>{{category.price}}</td> {% endcomment %}
                    {% comment %} <td>{% if product.stock == 0 %} <a class="badge badge-danger text-light"> <small>Out of Stock!</samll><a>
                        {% else %}{{product.stock}} {% endif %}</td> {% endcomment %}
                    {% comment %} <td>{{product.available}}</td>
                    <td><a href="" class="btn btn-danger btn-sm">TRUE</a> {% endcomment %}
                    <td> <a href="{% url 'deletecategory' category.id %}" class="btn btn-primary btn-sm">Delete</a>
                        <a href="{% url 'editcategory' category.id %}" class="btn btn-primary btn-sm">edit</a></td>
                </tr>    
                {% endfor %}  
 {% comment %} <div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-6">
            <div class="bg-light rounded h-100 p-4">
                <form method="post" enctype="multipart/form-data">
                <h6 class="mb-4">Category Table</h6>
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-success">Save Product</button>
            </div>
                </form>
        </div>
    </div>
</div> {% endcomment %}

{% endblock %}